@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');

:root{
    --leading: 2em;
}
 div{
     display: block;
 }
.name header{
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

 .navbar {
     top: 0px;
    width: 100%;
    background-color:mediumaquamarine;
    overflow: auto;
    text-align: center;
    display: inline-block;
    position: absolute;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    background-color:green;
    border:dimgray;
    
  }

  .navbar a:hover {
    background-color: grey;
  }

  .navbar a:active {
    background-color:purple;
  }


 .name {
     top: 0px;
    color:white;
    background-image: url("images/bg2.jpg");
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.name h1{
         font-family: 'Brush Script MT', cursive;
         font-size: 4em;
}

.right-col p{
    font-family:  Georgia, serif;
    line-height: var(--leading);
}

.right-col{
    text-align: left;
}
img{
    width: 600px;
    height:1000px;
}
  @media screen and (min-width: 730px){
    section.home{
        display:grid;
        grid-template-columns: repeat(2,50%);
        grid-template-areas: "hos content";
    }
    .right-col{
        grid-area: content;
    }
    img{
        grid-area: hos;
    }
   }

   .home p{
       font-family: 'Brush Script MT', cursive;
       position:relative;
       font-size: 1.5em;
       padding: 0;
       margin:0;
   }
   .footer {
       border: 2px solid black;
       margin: 2px;
   }