@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');

:root{
    --leading: 2em;
}

.name header{
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

 .navbar {
     top:0;
    width: 100%;
    background-color:thistle;
    overflow: auto;
    text-align: center;
    display: inline-block;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: tomato;
  }

 .name {
     top: 0;
     position: relative;
    color:white;
    background-image: url("images/bg2.jpg");
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.name h1{
         font-family: 'Brush Script MT', cursive;
         font-size: 4em;
}

.name p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.name img{
    float:right;
}

.right-col{
    text-align:center;
    margin:3em 1em;
}

.home p{
    line-height: var(--leading);
}

img{
    width: 500px;
    height: 800px;
    margin: 4em 2em;
}

@media(min-width: 730px){
    section.home{
        display:grid;
        grid-template-columns: repeat(2,50%);
        grid-template-areas:
          "hos content";
    }
    .right-col{
        grid-area: content;
    }
    img{
        grid-area: hos;
    }
       
   }